// Base Styles

body
  font-family: "Courier", sans-serif

h1
  color: #615d5d

figure
  margin: auto

.content
  article
    padding: 200px 
    max-width: 640px
    margin: 0 auto
    text-align: center

img
  max-width: 100%



// Parallax

.bird-box
  position: relative
  height: 600px
  max-width: 100%
  background:
    image: url(../images/1img.png)
    size: contain
    position: top center
    attachment: fixed
    repeat: no-repeat
  overflow: hidden

.logo
  height: 100px
  width: 100%
  background:
    image: url(../images/titulo.svg)
    position: center
    repeat: no-repeat
  position: absolute
  top: 50%
  margin-top: -50px

// Diapos Grid

.diapos

    figure
      margin-bottom: 20px
      position: relative
      opacity: 0
      transform: translateX(-20px)
      transition: all 0.5s ease-in-out

  &.is-showing
    opacity: 1
    transform: translateX(0px)

.story-text
  margin: 20px 0
  color: #615d5d
  line-height: 1.4


.diapos2

    figure
      margin-bottom: 20px
      position: relative
      opacity: 0
      transform: translateY(100px)
      transition: all 0.5s ease-in-out

      &.is-showing
        opacity: 1
        transform: translateY(0px)

.diapos3

    figure
      margin-bottom: 20px
      position: relative
      opacity: 0
      transform: translateX(20px)
      transition: all 0.5s ease-in-out

      &.is-showing
        opacity: 1
        transform: translateX(0px)
